html,body{
    height:100%;
    width:100%;
    min-width: 1000px;
}
#login_form{
    position:absolute;
    right:11.9%;
    top:28%;
    height:310px;
    width: 350px;
    /* background: red; */
    
}
#copyright{
    position:absolute;
    right:11.9%;
    width: 78.4%;
    bottom:9.4%;
    height: 60px;
    line-height:60px;
    color: rgb(229,229,229);
    font-size:15px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.5)
}
#logo{
    height: 50px;
    border:1px solid white;
    width: 100%;
}
#tip{
    height: 40px;
    color: red;
    line-height: 40px;
    font-size:14px
}
.form_item{
    height: 45px;
    border:1px solid rgba(229,229,229,.5);
    color: white;
    background:rgba(255,255,255,0.1);
}
#password{
    margin-top: 20px;
}

.input{
    height: 45px;
    width: 290px;
    outline: none;
    color: white;
    background:rgba(255,255,255,0);
    padding-left:10px;
}
.form_item:focus .icon{
    color: white
}
.icon{
    margin-left: 20px;
    color: rgba(229,229,229,0.8);
}
.icon_focus{
    margin-left: 20px;
    color: white;
}

#registerbutton{
   
    background:rgb(48,79,146);
    color:white;
    width:350px;
    height:45px;
    cursor: pointer;
}
#link{
    margin-top: 15px;
    height:45px;
    width: 350px;
    color: rgba(229,229,229,.8);
    /* font-family: PingFangTC-Regular; */
    text-align: right;

}

#link a{
    font-size:14px;
    color: rgba(229,229,229,.8)
}
input::-webkit-input-placeholder{
    color:rgba(229,229,229,.5);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgba(229,229,229,.5);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgba(229,229,229,.5);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgba(229,229,229,.5);
}